.signup {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    height: 50px;
    margin: 5px 0px;
}

#signup-button {
    margin: 25px 0px;
    color: white;
    text-justify: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
}
