.create-spot {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    height: 50px;
    margin: 5px 0px;
}

#signup-button {
    margin: 25px 0px;
    color: white;
    text-justify: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #ff385c
}

.header-text {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 125px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    margin: 5px 0px;
}
