input.create-spot {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    height: 50px;
    margin: 0px;
}

#signup-button {
    margin-top: 9px;
    margin-bottom: 25px;
    color: white;
    text-justify: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #ff385c
}

.header-text {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 125px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    margin: 0px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.character-count {
    align-self: flex-end;
    justify-self: flex-end;
    height: 16px;
    font-size: 12px;
    visibility: hidden;
}

.input-group:focus-within>.character-count {
    visibility: visible;
}

#price {
    margin-bottom: 16px;
}
