#spots-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(275px, 325px));
    grid-template-rows: repeat(auto-fit, minmax(380px, 400px));
    width: auto;
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

#spots-browser {
    padding: 0px 80px;
    justify-content: center;
}
