.create-spot {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    height: 50px;
    margin: 5px 0px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-form-buttons {
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    text-justify: center;
    text-align: center;
    height: 50px;
    width: 48%;
    border-radius: 5px;
    background: #ff385c
}

.header-text {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 125px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 7px;
    margin: 0px;
}

h4 {
    font-weight: 500;
    margin-left: 5px;
}

#delete {
    margin-left: 15px;
}

#preview-image {
    margin-bottom: 16px;
}
