/* #star-rating-selector {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}

.on {
    color: black
}

.off {
    color: rgb(204, 204, 204)
} */
