li {
    list-style: none
}

.nav-bar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px
}


#home-logo {
    width: 115px;
    height: auto;
}

#user-nav {
    display: flex;
    border: 1px solid #DDDDDD;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 21px;
    width: 77px;
    height: 42px;
}

#user-nav:hover {
    box-shadow: 0px 2px #DDDDDD;
    cursor: pointer;
}

.fa-solid {
    color: rgb(34, 34, 34);
    text-align: center;
}

.fa-solid.fa-circle-user {
    font-size: 30px;
    color: rgb(113, 113, 113)
}

#expanded-menu {
    padding-left: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    right: 88px;
    top: 68px;
    height: 75px;
    width: 250px;
}

.profile-dropdown {
    width: 250px;
    align-self: flex-end;
}

#host {
    position: absolute;
    top: 28px;
    right: 180px;
}
