#modal-content {
    border-radius: 15px;
    height: fit-content;
    width: 500px
}

form {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.username {
    margin-top: 20px;
    border: 1px solid rgb(175, 175, 175);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: hidden;
    height: 50px
}

.password {
    border: 1px solid rgb(175, 175, 175);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 50px
}

.username,
.password {
    font-size: 15px;
}

.login {
    margin: 20px 0px;
    color: white;
    text-justify: center;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #ff385c
}
